*.js linguist-detectable=true
*.HTML linguist-detectable=false
*.CSS linguist-detectable=false
*.MongoDB linguist-detectable=false
node_modules/
package-lock.json

# Local Netlify folder
.netlify
.env.dev
