<%- include('./partials/header') -%>

<form action="/login", method="post">
    <input type="text" name="username" placeholder='username' id="">
    <input type="password" name="password" id="" placeholder="password">
    <input type="submit" name="submit" id="">
</form>

<%- include('./partials/footer') -%>
