<%- include('../partials/header') %>


<style>
    #error{
        color: red;
        padding-left: 0.5rem;
        display: none;
    }
    .jumbotron
    {

        padding: 1rem !important;
        width: 40%;
        margin: 2rem auto;
    }
</style>
<div class="jumbotron">
    
    <div class="column">
        <div></div>
        <h1 style="margin: 1rem auto;text-align: center;">Add new comments to <%=campground.name%>  </h1>
        <hr>
        <div style="width: 100%; margin: 3rem auto; position: relative; margin-bottom: 1rem;">
            <form action="/campgrounds/<%=campground._id%>/comments" method="POST">
                <div class="form-group"><input class="form-control" type="text" placeholder="comment" name="comment[text]"></div>
                

                <div class="form-group">
                    <button id="btn"class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
               
            </form>
            <a style="position: relative; bottom: 0px;" href="/campgrounds">Go Back</a>
        </div>
        
       
    </div>
    
</div>

<%- include('../partials/footer') %>