.thumbnail img{
    width: 100% ;
}
.thumbnail {
    padding: 0  ;
}
.thumbnail .caption-full{
    padding: 9px;
}
.input-group{
    margin: auto;
}
/* .form-control{
    margin: 2rem;
} */
/* .container {
    margin: auto;
    align-items: center;
    text-align: center;
} */
.more{
    margin: 2rem; 
}